<section class="phx-hero">
  <h1>Teddy - Abotkit Crawler</h1>
</section>

<section class="row">
  <article class="column">
    <h2>Menu</h2>
    <ul>
      <li>
        <a href="/clients">Clients</a>
      </li>
      <li>
        <a href="/crawls">Crawls</a>
      </li>
    </ul>
  </article>
</section>
